body {
    background-color: white;
    width: 100%;
}

header {
    display: flex;
    background-color: #232f3e;
    height: 64px;
}

.logo {
    width: 15%;
}

.logo img {
    height: 100%;
    width: 100%;
}

.logo img:hover {
    border: 1px solid black;
}

nav {
    width: 60%;
}

nav ul {
    display: flex;
    justify-content: start;
    padding-top: 8px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav ul li a:hover {
    color: #F09440;
    border: 1px solid rgb(6, 212, 98);
}

/*--------------------------------------------------------------------------------------------------------*/

.div1 {
    float: left;
}

.div2 {
    float: left;
}

main {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
}

form {
    border: 3px solid #f1f1f1;
    height: 450px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    background-color: #f1f1f1"

}

.cancelbtn {
    padding: 10px 18px;
    background-color: #f44336;
}